body{
    background-color: black;
    color: aliceblue;
}
.side-navbar{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    position: fixed;
    margin-left: 0px;
    width: 250px;
    background-color: black;
    height: 100%;
    padding-top: 40px;
}
.sidebar-music{
    display: flex;
    flex-direction: column;

}
.side-navbar  a{
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    margin: 10px;
}
.side-navbar  a:hover{
    color: aqua;
}
.side-container{
    margin-top: 20px;
}
.main-content{
    margin-left: 250px;
    padding-top: 40px;
}

.display{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    text-align: center;
    width: 90%
}

.card{
    margin: 15px;
    width: 30%;
    background-color: black;
    color: white;
}
.card:hover{
    font-size: 50px;
    background-color: darkslategrey;
}
.artist-card > img{
    height: 70%;
    border-radius: 50%;   
}
.album-display{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.album-song{
    left: 0;
    padding-left: 0;
    margin: 60px;
    margin-left: 0px;
    padding-top: 20px;
}
.album-songs{
    padding-left: 0;
}
li{
    padding-left: 0;
}
.component-container{
    text-align: center;
}
.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}